<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="description" content="Aplicación Mini Api Rest. Gestión de productos."/>
	<meta name="keywords" content="Mini Api Rest - MVC - (ES6 - PHP7 - MySql)"/>
	<meta name="author" content="Fabricio Nahuel Rori">
	<title>Mini Api Rest</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
        <picture><img src="" alt=""></picture>
		<nav>
            <ul>
				<li><a href="#" class="selected">Home</a></li>
                <li>
					<a href="#" id="menu">Productos</a>
					<ul class="menu">
						<li><a id="getAllProducts" role="button" href="#">Ver listado de Productos</a></li>
						<li><a role="button" href="#">Nuevo Producto</a></li>
					</ul>
				</li>
            </ul>
        </nav>
	</header>
	<main>
		<section>
			<article>
				<h1>Productos Cargados</h1>
				<table>
					<caption>Listado de todos los productos:</caption>
					<colgroup>
						<col>
						<col>
						<col>
						<col>
					</colgroup>
					<thead>
						<tr></tr>
					</thead>
					<tbody></tbody>
					<tfoot>
						<tr>
							<th>
								<button>Atras</button>
							</th>
							<th colspan="2"></th>
							<th>
								<button>Siguiente</button>
							</th>
						</tr>
					</tfoot>
				</table>
			</article>
		</section>
	</main>
	<footer>
		<p>Diseñado por <strong>Fabricio Nahuel Rori</strong></p>
	</footer>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>